
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #fff;
    --secondary-color: #FFAC00;
    --sub-bg-color: hsl(40, 100%, 92%);
    --accent-color: #F74F22;
    --border-color: #f0f0f0;
    --text-color: #333;
    --flag-image: url("https://flagsapi.com/US/flat/32.png");
}















/**START OF MY ACCOUNT SECTION STYLE***/
.breadcrumb_area {
    background: var(--primary-color);
    padding: 10px 0px;
}

.breadcrumb_area .breadcrumb_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.breadcrumb_area .breadcrumb_wrapper a {
    color: var(--text-color);
    transition: .6s;
}

.breadcrumb_area .breadcrumb_wrapper a:hover {
    color: var(--secondary-color);
    transition: .6s;
}

.breadcrumb_area .breadcrumb_wrapper span.middle_sign {
    height: 18px;
}
section.account_section {
    padding: 45px 0;
    background: var(--primary-color);
}

section.account_section .account_wrapper .left_side {
    position: relative;
}

section.account_section .account_wrapper .left_side .account_form >h3 {
    font-size: 26px;
    margin-bottom: 25px;
}


section.account_section .account_wrapper .left_side .account_form >form .a_single_input > input {
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    font-size: 15px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    outline: none;
    transition: .6s;
    border-radius: 5px;
}

section.account_section .account_wrapper .left_side .account_form >form .a_single_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

section.account_section .account_wrapper .left_side .account_form >form .a_single_input > label {
    font-size: 15px;
    font-weight: 500;
}

section.account_section .account_wrapper .left_side .account_form >form .a_single_input > input:focus {
    border-color: var(--secondary-color);
    transition: .6s;
}

section.account_section .account_wrapper .left_side .account_form >form input[type="checkbox"] {
    width: auto;
    height: 25px;
    cursor: pointer;
}

section.account_section .account_wrapper .left_side .account_form >form button {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--accent-color);
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    transition: .6s;
    margin-top: 30px;
}

section.account_section .account_wrapper .left_side .account_form >form button:hover {
    background: var(--secondary-color);
    color: var(--text-color);
    transition: .6s;
}

section.account_section .account_wrapper .left_side .account_form.register_area {
    position: absolute;
    inset: 0;
    background: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    transition: .6s;
}

section.account_section .account_wrapper .left_side .account_form {
    background: var(--primary-color);
}

section.account_section .account_wrapper .left_side .account_form >form > a {
    font-size: 15px;
    color: var(--text-color);
}

section.account_section .account_wrapper .right_side >h3 {
    font-size: 26px;
    color: var(--text-color);
    margin-bottom: 25px;
}
section.account_section .account_wrapper .right_side >p{
    font-size: 15px;
    line-height: 1.6rem;
    margin-bottom: 0;
}
section.account_section .account_wrapper .right_side >button{
   width: 100%;
   height: 50px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   background-color: var(--secondary-color);
   color: var(--text-color);
   margin-top: 40px;
   outline: none;
   transition: .6s;
}
section.account_section .account_wrapper .right_side >button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: .6s;
}
section.account_section .account_wrapper .left_side .account_form >form input[type="checkbox"] +label {
    font-size: 14px;
    line-height: 1.6rem;
    color: #555;
    cursor: pointer;
}
/***END OF MY ACCOUNT SECTION STYLE**/

.login_other_way {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
.login_other_way .single_way>span {
    z-index: 9;
  }
.login_other_way .single_way:hover {
    color: var(--primary-color) !important;
  }
  
 .login_other_way .single_way {
    width: 320px;
    background: var(--primary-color);
    margin-bottom: 10px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    position: relative;
    cursor: pointer;
  }
  
 .login_other_way .single_way span {
    z-index: 99;
  }

.login_other_way .single_way:first-child {
    border: 1px solid #db4437;
    color: #db4437;
  }
.login_other_way .single_way:last-child {
    border: 1px solid #4267b2;
    color: #4267b2;
  }
  .login_other_way .single_way:first-child .social-login {
    background: #db4437;
  }
  
 .login_other_way .single_way:last-child .social-login {
    background: #4267b2;
  }
 .login_other_way .single_way .social-login {
    width: 47px;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: 0px;
    transition: 0.3s;
    cursor: pointer;
  }
  
.login_other_way .single_way .social-login i,  .login_other_way .single_way .social-login svg {
    position: absolute;
    left: 15px;
    transition: 0.3s;
  }
  
.login_other_way .single_way:hover .social-login {
    width: 100%;
    border-radius: 50px;
  }
    

.account_form  .divider {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin-block: 15px;
}

.account_form  .divider::after {
    content: " ";
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    height: 2px;
    background: var(--border-color);
}

.account_form  .divider>span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background: var(--secondary-color);
    z-index: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}